*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 transition: background-color 0.5s;
 font-family: 'Courier New', Courier, monospace;
}

.display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size: 4rem;
  margin-bottom: 5rem;
  color: white;
  font-weight: bold;
 
}
h2{
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: color 0.5s;
  text-align: center;
  
}
h3{
  text-align: center;
   
}
.double{
  color: white;
  background-color: black;
  padding: 1.5rem;
  border-radius: 8px;
  width: 8rem;
}

